<%- include ("../partials/header") %>

<div class="container">
    <header class="jumbotron mt-5">
        <h1><span class="glyphicon glyhicon-tent"></span> Welcome To YelpCamp!</h1>
        <p>View our hand-picked campgrounds form all over the world</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Camground</a>
        </p>
    </header>

    <div class="row text-center" id="campground-grid">
        <% campgrounds.forEach(campground => { %>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <img src="<%= campground.image %> " alt="" class="card-img-top">
                <div class="class-body">
                    <h5 class="card-title"><%= campground.title %> </h5>
                    <a href="/campgrounds/<%=campground._id %> " class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
        <% }); %>

    </div>
</div>


<%- include ("../partials/footer") %>