<%- include ("../partials/header") %>

<div class="row">
    <div class="col-md-3">
        S
    </div>
    <div class="col-md-9">
        <div class="card mb-3 mt-5">
            <img class="card-img-top" src="<%= campground.image %>">
            <div class="card-body">
                <p class="float-right">Rs. <%= campground.price %>/night </p>
                <h5 class="card-title"><%= campground.title %></h5>
                <p>
                    <em>Submitted by <%= campground.author.username %> </em>
                </p>
                <hr>
                <p class="card-text"><%= campground.body %></p>
                <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form class="delete-form" action="/campgrounds/<%= campground._id %>/?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                <% } %>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New
                        Comment</a>
                </div>
                <hr>
                <div class="row">
                    <% campground.comments.forEach(function(comment){ %>
                    <div class="col-md-12 mb-2">
                        <div class="card">
                            <div class="float-left">
                                <p class="card-title"><%= comment.author.username %></p>
                                <p class="card-text"><%= comment.content %></p>
                                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %> 
                                    <a class="btn btn-xs btn-warning " href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                    <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
                                        <button class="btn btn-xs btn-danger">Delete</button>
                                    </form>
                                <% } %> 
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<%- include("../partials/footer") %> 